# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
.env
# Environnement virtuel
.venv/
venv/
env/

# PyCharm
.idea/

# Système
.DS_Store

# Archives et fichiers générés
*.tar.gz
*.zip
startup.log
data_export.json